/* Center the div and everything horizontally */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scene 1: Welcome screen */ 
.screen {
    display: block;
    width: 400px;
    height: 600px;
    border: 10px solid black;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(3, 3, 163);
}

#start-button {
    position: relative;
    top: 70%;
    padding: 10px 20px;
    font-size: 32px;
    border-radius: 30%;
}

#title{
    color: rgb(224, 224, 11);
}

/* Bouncing animation for the coin */
#container{
    position: relative;
    text-align: center;
}

.ball{
    border: 5px solid rgb(160, 160, 8);
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    top: 10%;
    left: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    10% {
        height: 50px;
        width: 50px;
    }
    50% {
        height: 30px;
        width: 57px;
        transform: translateY(240px);
    }
}

.ball-shadow {
    background-color: grey;
    width: 60px;
    height: 5px;
    border-radius: 90%;
    position: relative;
    top: 290px;
    left: 40.9%;
    animation: shadow-move 1.5s infinite;
}

@keyframes shadow-move {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}

.coin {
    height: 100%;
    left: 50%;
    position: absolute;
}

.coin .ball-shadow {
    bottom: 0;
    position: absolute;
    margin-left: -100px;
}

.coin .ball {
    margin-left: -100px;
    position: absolute;
}

@keyframes grow {
    from {
        bottom: 0;
        margin-left: -100px;
        height: 50px;
        opacity: 1;
        width: 200px;
    }
    to {
        bottom: -15px;
        margin-left: -150px;
        height: 80px;
        opacity: 0.4;
        width: 300px;
    }
}


/* Scene 2: The actual game */
.play{
    display: none;
    width: 400px;
    height: 600px;
    border: 10px solid black;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(253, 253, 253);
    overflow: hidden;
}

.player-circle{
    width: 25px;
    height: 25px;
    background-color: blue;
    border: 10px solid rgb(3, 3, 54);
    border-radius: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    display: none;
}

/* Scene 3: Game over screen */
.game-over{
    display: none;
    width: 400px;
    height: 600px;
    border: 10px solid black;
    border-radius: 5%;
    text-align: center;
    background-color: rgb(97, 53, 3);
}